#progressbar {
  width: 10rem;
  height: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
  overflow: hidden;
}
#percent {
  height: 100%;
  width: 0%;
  background-color: blue;
  transition: 200ms;
}
body {
  background: #fff;
}
.book {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%);
  width: 37rem;
  padding: 1rem;
  height: 10vh;
  border: 1px solid #000;
  overflow-y: auto;
  font-size: 1.5rem;
  z-index: 2;
  background: inherit;
}

.options {
  display:flex;
  flex-direction: column;
  width: 12rem;
  margin-top: 7rem;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 3rem;
  border-bottom: 1px solid #000;
  /* align-items: center; */
  cursor: pointer;
  transition: 100ms;
  margin-bottom: 2rem;
  margin-top: -2rem;
  gap: 0.8rem;
}

._hidden {
  display: none
}

@media screen and (max-width: 400px) {
  .book {
    position: absolute;
    top: 53vh;
    width: 90vw;
    height: 10vh;
    overflow-y: auto;
    font-size: 1.1rem;
  }
  .options {
    margin-top: 2rem;
  }
}